.coverage
.dockerignore
.env
.env.container
.env.local
.git/
.github/
.gitignore
.idea/
.mypy_cache/
.ruff_cache/
.venv/
Dockerfile
README.md
__pycache__/
db.sqlite3
pyproject.toml
requirements.txt
uv.lock
