{% extends 'application_shell.html' %}

{% block header_title %}
    Users
{% endblock %}

{% block header_buttons %}
    <div class="mt-4 flex md:ml-4 md:mt-0">
        <a class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
           href="{% url 'user-create' %}">
            Create
        </a>
    </div>
{% endblock %}

{% block main %}
    <div class="mx-auto max-w-4xl px-4 py-12 sm:px-6 lg:px-8">
        <ul class="divide-y divide-gray-100" role="list">
            {% for object in object_list %}
                <li class="relative flex justify-between gap-x-6 py-5">

                    <div class="flex min-w-0 gap-x-4">
                        <div class="flex-1 min-w-0">

                            <p class="text-sm font-semibold leading-6 text-gray-900">
                                <a href="{% url 'user-detail' object.id %}">
                                    <span class="absolute inset-x-0 -top-px bottom-0"></span>
                                    {{ object.name }}
                                </a>
                            </p>

                            <p class="mt-1 flex text-xs leading-5 text-gray-500">
                                <a class="relative truncate hover:underline"
                                   href="mailto:{{ object.email }}">
                                    {{ object.email }}
                                </a>
                            </p>

                        </div>
                    </div>

                    <div class="flex shrink-0 items-center gap-x-4">
                        <svg class="h-5 w-5 flex-none text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </div>

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
