<!DOCTYPE html>

<html class="h-full bg-gray-100" lang="en">

<head>
    {% load static %}
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'main/favicon-32x32.jpg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Benkyou Django</title>
</head>

<body class="h-full">
<div class="min-h-full">

    <nav class="bg-gray-800" x-data="{ open: false }">

        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">

                <div class="flex items-center">

                    <div class="flex-shrink-0">
                        <img class="h-8 w-8"
                             src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
                             alt="App logo">
                    </div>

                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a href="{% url 'user-list' %}"
                               class="rounded-md px-3 py-2 text-sm font-medium bg-gray-900 text-white"
                               aria-current="page">Users</a>
                        </div>
                    </div>

                </div>

                <div class="-mr-2 flex md:hidden">
                    <!-- Mobile menu button -->
                    <button type="button"
                            class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                            aria-controls="mobile-menu" aria-expanded="false"
                            :aria-expanded="open.toString()" @click="open = !open">

                        <span class="absolute -inset-0.5"></span>

                        <span class="sr-only">Open main menu</span>

                        <!-- Menu open: "hidden", Menu closed: "block" -->
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke-width="1.5" stroke="currentColor"
                             aria-hidden="true"
                             :class="{ 'hidden': open, 'block': !(open) }">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                        </svg>

                        <!-- Menu open: "block", Menu closed: "hidden" -->
                        <svg class="hidden h-6 w-6" fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5" stroke="currentColor"
                             aria-hidden="true"
                             :class="{ 'block': open, 'hidden': !(open) }">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M6 18L18 6M6 6l12 12"></path>
                        </svg>

                    </button>
                </div>

            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="md:hidden" x-show="open">
            <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="{% url 'user-list' %}"
                   class="block rounded-md px-3 py-2 text-base font-medium bg-gray-900 text-white"
                   aria-current="page">Users</a>
            </div>
        </div>

    </nav>

    <header class="bg-white p-8">
        <div class="mx-auto max-w-7xl">
            <div class="flex items-center justify-between">

                <div class="min-w-0 flex-1">
                    {% block header_title %}{% endblock %}
                </div>

                {% block header_buttons %}{% endblock %}

            </div>
        </div>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

</div>
</body>

</html>
